<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="HyperVoicingInst" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="20f0a094-5cd7-4596-ae16-600c9aa9e933">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
